// #CE6A6B
// #EBACA2
// #BED3C3
// #4A919E
// #212E53

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: #cacaca;
  border: 1px solid #cacaca;
  cursor: pointer;
  transition: all 250ms linear;
  &:hover {
    background-color: #ca9596;
    border-color: #ca9596;
    color: white;
  }
  &.active {
    background-color: #ce6a6b;
    border-color: #ce6a6b;
    color: white;
    border-color: #ce6a6b;
  }
  &.large {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }
  &.small {
    font-size: 0.5rem;
    padding: 0.25rem 0.75rem;
  }
}
